*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.main{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    height: 30rem;
    width: 24rem;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
    background-color: rgb(56, 56, 56);
    box-shadow: 0px 0px 10px white;
}
.card input{
    height: 3rem;
    padding-left: 5px;
    width: 17rem;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 4px 3px 7px #00000061;
}
.card button{
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    
}

@media screen and (max-width:425px){
    .card {
        height: 25rem;
        width: 18rem;
    }
    .card input {
        height: 3rem;
        width: 15rem;
    }
}

@media screen and (max-width: 320){
.card {
    height: 22rem;
    width: 15rem;
}
.card h2{
    font-size: 15px;
}
}



